body {
  font-family: Helvetica Neue, sans-serif;
}
td {
  text-align: right;
}
tbody tr:nth-child(even) {
  background: #dddddd;
}
td:first-child {
  text-align: left;
}
tbody td,
tfoot td {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
